/* Login */
.login-wrapper {
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.login-title {
	text-align: center;
}
.login-img {
	width: 75%;
}
.login-container {
	width: 270px;
	margin: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.login-container-form {
	width: 100%;
}
.login-form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.login-form-div {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.submit-user {
	display: flex;
	justify-content: space-between;
}

@media screen and (min-width: 426px) {
	.login-container {
		width: 100%;
		flex-direction: row;
	}
	.login-wrapper {
		margin-top: 25px;
	}
	.login-img {
		width: 50%;
	}
	.login-container-form {
		width: 50%;
		padding: 35px;
	}
}
